@page
@model ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<table class="table">
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var claim in this.Model.CurrentPrincipal.Claims)
        {
            <tr>
                <td><code>@claim.Type</code></td>
                <td><span class="d-inline-block text-truncate" style="max-width: 400px;" title=@claim.Value>@claim.Value</span></td>
            </tr>
        }
    </tbody>
</table>