@font-face {
    font-family: Roboto-Bold;
    src: url(/fonts/roboto-bold-webfont.woff2) format("woff2"),url(/fonts/roboto-bold-webfont.woff) format("woff")
}

@font-face {
    font-family: Roboto-Medium;
    src: url(/fonts/roboto-medium-webfont.woff2) format("woff2"),url(/fonts/roboto-medium-webfont.woff) format("woff")
}

@font-face {
    font-family: Roboto-Regular;
    src: url(/fonts/roboto-regular-webfont.woff2) format("woff2"),url(/fonts/roboto-regular-webfont.woff) format("woff")
}

@font-face {
    font-family: Roboto-Light;
    src: url(/fonts/roboto-light-webfont.woff2) format("woff2"),url(/fonts/roboto-light-webfont.woff) format("woff")
}

@font-face {
    font-family: Gotham-Bold;
    src: url(/fonts/gotham-bold-webfont.woff2) format("woff2"),url(/fonts/gotham-bold-webfont.woff) format("woff")
}

@font-face {
    font-family: Gotham-Book;
    src: url(/fonts/gotham-book-webfont.woff2) format("woff2"),url(/fonts/gotham-book-webfont.woff) format("woff")
}

@font-face {
    font-family: Gotham-Medium;
    src: url(/fonts/gotham-medium-webfont.woff2) format("woff2"),url(/fonts/gotham-medium-webfont.woff) format("woff")
}

@font-face {
    font-family: Gotham-Light;
    src: url(/fonts/gotham-light-webfont.woff2) format("woff2"),url(/fonts/gotham-light-webfont.woff) format("woff")
}

@font-face {
    font-family: Gotham-Thin;
    src: url(/fonts/gotham-thin-webfont.woff2) format("woff2"),url(/dist/fonts/gotham-thin-webfont.woff) format("woff")
}

html {
    color: #000;
    font-size: 16px;
    line-height: 1.5;
    font-family: Roboto-Regular, sans-serif;
}

.header {
    background-color: rgba(245,246,248,.88);
    -webkit-box-shadow: 0 3px 10px 0 rgba(0,0,1,.2);
    box-shadow: 0 3px 10px 0 rgba(0,0,1,.2);
    margin-bottom: 2rem;
}

    .header .nav-item,
    .header .navbar-text {
        font-family: Gotham-Book,sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        padding: 8px;
        font-size: 14px;
    }

    .header .navbar-text {
        font-weight: bolder;
    }

    .header .nav-item a {
        color: #2a2b36;
    }

    .header .nav-item:hover {
    }

        .header .nav-item:hover a {
            color: #000;
            font-weight: bolder;
        }

.footer {
    text-align: center;
    padding: 21px 0 29px;
    font-size: 12px
}

.alert {
    margin-bottom: 2rem;
}

.alert-danger {
    line-height: 1.5;
    color: #8d1b58;
    border-radius: 4px;
    border: 1px solid #f185ce;
    background-color: #fdedf8;
    padding: 14px 20px;
}

.table a {
    color: #0072b7;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.table a:hover {
    color: #00b0ff;
}

.table th {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: Roboto-Medium,sans-serif;
    font-weight: normal;
}
